

body {
  flex-direction: column;
  display: flex;
  align-items: center;
}

button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  height: 3rem;
  width: 12rem;
  cursor: pointer;
}

div {
  border: 1px solid black;
  width: 30rem;
  height: 15rem;
  font-size: 1.2rem;
}

p {
  padding: 5rem;
  top: 15rem;
  text-align: center;
  
}
